header {
    background-color: #333;
    color: #1a1515;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #201a1a;
    text-decoration: none;
    font-weight: bold;
}

.main-section {
    background-color: #b64444;
    padding: 20px;
}

.sidebar {
    background-color: #ce4343;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #1a1818;
    padding: 20px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: burlywood;
    padding: 20px;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%; 
        background-color: blanchedalmond; 
        padding: 10px;
}


